---
title: "Jupyter Notebook Test"
author: "Jeffrey Huang"
date: "2025-01-05"
categories: [news, code, analysis]
image: "alena.jpg"
---

## Hello World! ðŸ˜Š

This is a test of rendering Jupyter notebooks to a Quarto website.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"a":[1, 2, 3, 4], "b":[0, 0, 1, 0]})
df

   a  b
0  1  0
1  2  0
2  3  1
3  4  0